.transaction-form {
  max-width: 600px; /* Adjusted to make the form larger */
  margin: 50px auto; /* Center the form */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }

    .input-container {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-radius: 25px;
      padding: 10px 15px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .material-icons,
      .currency-symbol {
        margin-right: 10px;
        color: #666;
      }

      input {
        border: none;
        outline: none;
        flex-grow: 1;
        padding: 5px 10px;
        border-radius: 25px;
      }

      input.no-spin::-webkit-outer-spin-button,
      input.no-spin::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      
    }
  }

  p {
    margin: 10px 0;
    color: #666;
  }

  button {
    width: 100%;
    background-color: #5995fd;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #4d84e2;
    }
  }
}
